/2020A/_NetBeans/AGENDA/AGENDA/nbproject/private/
/2020A/_NetBeans/CALCULADORA/CALCULADORA/nbproject/private/
/2020A/_NetBeans/CALCULADORA/CALCULADORA/build/
/2020A/_NetBeans/CALCULADORA_II/CALCULADORA_II/nbproject/private/
/2020A/_NetBeans/CALCULADORA_II/CALCULADORA_II/build/