/2020A/_NetBeans/AGENDA/AGENDA/nbproject/private/
/2020A/_NetBeans/CALCULADORA/CALCULADORA/nbproject/private/
/2020A/_NetBeans/CALCULADORA/CALCULADORA/build/
/2020A/_NetBeans/CALCULADORA_II/CALCULADORA_II/nbproject/private/
/2020A/_NetBeans/CALCULADORA_II/CALCULADORA_II/build/
/2020A/_NetBeans/AVALIACAO_II/AVALIACAO_II/nbproject/private/
/2020A/_NetBeans/AVALIACAO_II/AVALIACAO_II/build/
/2020A/_NetBeans/COMPENSADOS/COMPENSADOS/nbproject/private/
/2020A/_NetBeans/COMPENSADOS/COMPENSADOS/build/
/2020A/_NetBeans/18JUN-EXERCICIOS/nbproject/private/
/2020A/_NetBeans/FOLHA_PAGAMENTO/nbproject/private/
/2020A/_NetBeans/FOLHA_PAGAMENTO/build/